[package]
name = "cef"
description = "Use cef in Rust"

version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[features]
dox = ["cef-sys/dox"]

[package.metadata.docs.rs]
features = [ "dox" ]

[dependencies]
cef-sys.workspace = true

[dev-dependencies]
winit.workspace = true

[[example]]
name = "cefsimple"
crate-type = [ "bin" ]
path = "examples/cefsimple/main.rs"

[[example]]
name = "cefsimple_helper"
crate-type = [ "bin" ]
path = "examples/cefsimple/mac/helper.rs"
