app = 'termsurf'
primary_region = 'iad'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[deploy]
  auto_rollback = true

[env]
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  grace_period = "5s"
  interval = "10s"
  method = "GET"
  timeout = "2s"
  path = "/"
