name: Get latest CEF version

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  get-latest:
    if: ${{ github.repository_owner == 'tauri-apps' }}
    runs-on: ubuntu-latest
    outputs:
      updated: ${{ steps.push-changes.outputs.updated }}

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Check for updates
        id: check-updates
        run: cargo run -p get-latest -- -u

      - name: Build git-cliff arguments
        id: git-cliff-args
        run: |
          echo "git-cliff-args=\
          --bump ${{ steps.check-updates.outputs.git-cliff-bump }} \
          --with-commit \"${{ steps.check-updates.outputs.commit-message }}\" \
          -s footer \
          --include-path Cargo.toml\
          " >> "$GITHUB_OUTPUT"

      - name: Update export-cef-dir change log
        uses: orhun/git-cliff-action@v3
        with:
          config: get-latest/cliff.toml
          args: |
            ${{ steps.git-cliff-args.outputs.git-cliff-args }}
            --include-path export-cef-dir
            --include-path Cargo.lock
            --tag-pattern "^export-cef-dir-v"
            -t export-cef-dir-v${{ steps.check-updates.outputs.git-cliff-version }}
            -- export-cef-dir-v138.2.0+138.0.21..
        env:
          OUTPUT: export-cef-dir/CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Update cef-dll-sys change log
        uses: orhun/git-cliff-action@v3
        with:
          config: get-latest/cliff.toml
          args: |
            ${{ steps.git-cliff-args.outputs.git-cliff-args }}
            --include-path sys
            --tag-pattern "^cef-dll-sys-v"
            -t cef-dll-sys-v${{ steps.check-updates.outputs.git-cliff-version }}
            -- cef-dll-sys-v138.2.0+138.0.21..
        env:
          OUTPUT: sys/CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Update cef change log
        uses: orhun/git-cliff-action@v3
        with:
          config: get-latest/cliff.toml
          args: |
            ${{ steps.git-cliff-args.outputs.git-cliff-args }}
            --include-path cef
            --tag-pattern "^cef-v"
            -t cef-v${{ steps.check-updates.outputs.git-cliff-version }}
            -- cef-v138.2.0+138.0.21..
        env:
          OUTPUT: cef/CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Push changes
        id: push-changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MESSAGE: ${{ steps.check-updates.outputs.commit-message }}
        run: |
          git switch -c get-latest
          RESET_REV=$(git rev-parse HEAD)

          git reset ${RESET_REV}
          git add .

          CHANGED=($(git diff --name-only --staged | xargs))
          if [ ${#CHANGED[@]} -gt 0 ]; then
            git push --force -u origin get-latest

            FILES=()
            for VALUE in ${CHANGED[@]}; do
              base64 -w0 "${VALUE}" > "${VALUE}.base64"
              FILES+=("-F" "files[][path]=${VALUE}" "-F" "files[][contents]=@${VALUE}.base64")
            done

            gh api graphql \
              -F githubRepository=${GITHUB_REPOSITORY} \
              -F branchName=get-latest \
              -F expectedHeadOid=${RESET_REV} \
              -F "commitMessage=${COMMIT_MESSAGE}" \
              -F query=@.github/api/createCommitOnBranch.graphql \
              ${FILES[@]}

            echo "updated=true" >> "$GITHUB_OUTPUT"
          else
            echo "updated=false" >> "$GITHUB_OUTPUT"
          fi

  update-bindings:
    needs: get-latest
    if: needs.get-latest.outputs.updated == 'true'
    uses: ./.github/workflows/update-bindings.yml
    with:
      branch: "get-latest"

  publish-pr:
    runs-on: ubuntu-latest
    needs: update-bindings
    if: needs.update-bindings.outputs.published == 'false'

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          ref: get-latest
          fetch-depth: 0

      - name: Publish PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr create -f
