name: Get latest CEF version

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  get-latest:
    runs-on: ubuntu-latest
    outputs:
      updated: ${{ steps.push-changes.outputs.updated }}

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Push changes
        id: push-changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cargo run -p get-latest -- -u

          git switch -c get-latest
          RESET_REV=$(git rev-parse HEAD)

          git reset ${RESET_REV}
          git add .

          CHANGED=($(git diff --name-only --staged | xargs))
          if [ ${#CHANGED[@]} -gt 0 ]; then
            git push --force -u origin get-latest

            FILES=()
            for VALUE in ${CHANGED[@]}; do
              base64 -w0 "${VALUE}" > "${VALUE}.base64"
              FILES+=("-F" "files[][path]=${VALUE}" "-F" "files[][contents]=@${VALUE}.base64")
            done

            gh api graphql \
              -F githubRepository=${GITHUB_REPOSITORY} \
              -F branchName=get-latest \
              -F expectedHeadOid=${RESET_REV} \
              -F 'commitMessage=chore: update CEF version' \
              -F query=@.github/api/createCommitOnBranch.graphql \
              ${FILES[@]}

            echo "updated=true" >> "$GITHUB_OUTPUT"
          else
            echo "updated=false" >> "$GITHUB_OUTPUT"
          fi

  update-bindings:
    needs: get-latest
    if: needs.get-latest.outputs.updated == 'true'
    uses: /.github/workflows/update-bindings.yml
    with:
      branch: "get-latest"
