name: Rust validation

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  rust:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Cache CEF
        id: cache-cef
        uses: actions/cache@v4.2.0
        with:
          path: ~/.local/share/cef
          key: cef-${{ matrix.os }}-${{ hashFiles('Cargo.toml') }}

      - name: Use cache
        if: ${{ steps.cache-cef.outputs.cache-hit }}
        run: |
          echo "CEF_PATH=${{ matrix.os == 'windows-latest'
            && '$env:USERPROFILE' || '$HOME'
          }}/.local/share/cef" >> $${{ matrix.os == 'windows-latest'
            && 'env:' || ''
          }}GITHUB_ENV

      - name: Check fmt
        run: cargo fmt --check

      - name: Install ninja
        run: |
          ${{ matrix.os == 'macos-latest' && 'brew install ninja'
            || (matrix.os == 'windows-latest' && 'choco install ninja'
            || 'echo "ninja already installed"') }}

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Export CEF
        if: ${{ !steps.cache-cef.outputs.cache-hit }}
        run: |
          cargo run -p export-cef-dir -- "${{ matrix.os == 'windows-latest'
            && '$env:USERPROFILE' || '$HOME'
          }}/.local/share/cef"
