name: Update bindings

on:
  push:
    branches:
      - dev
    paths:
      - Cargo.lock

jobs:
  update-linux:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.push-changes.outputs.changed }}

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yq gcc-14-aarch64-linux-gnu gcc-14-arm-linux-gnueabi

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d x86_64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d aarch64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d arm-unknown-linux-gnueabi

      - name: Push Changes
        id: push-changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add .

          CHANGED=($(git diff --name-only --staged | xargs))
          FILES=""
          for value in ${CHANGED[@]}; do
            echo "::debug::files[][path]=${value}"
            echo "::debug::files[][contents]=@${value}.base64"

            base64 -w0 "${value}" > "${value}.base64"
            FILES="${FILES} -F files[][path]=${value} -F files[][contents]=@${value}.base64"
          done

          echo "::debug::CHANGED=${CHANGED[@]}"
          echo "::debug::FILES=${FILES}"

          if [ "${FILES}" != "" ]; then
            git switch -c update-linux
            git push --force -u origin update-linux
            gh api graphql \
              -F githubRepository=${GITHUB_REPOSITORY} \
              -F branchName=update-linux \
              -F expectedHeadOid=$(git rev-parse HEAD) \
              -F 'commitMessage=chore: update linux bindings' \
              -F query=@.github/api/createCommitOnBranch.graphql \
              ${FILES}

            echo "changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi

  update-macos:
    runs-on: macos-latest
    outputs:
      changed: ${{ steps.push-changes.outputs.changed }}

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d aarch64-apple-darwin
          cargo run -p update-bindings -- -b -d x86_64-apple-darwin

      - name: Push Changes
        id: push-changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add .

          CHANGED=($(git diff --name-only --staged | xargs))
          FILES=""
          for value in ${CHANGED[@]}; do
            echo "::debug::files[][path]=${value}"
            echo "::debug::files[][contents]=@${value}.base64"

            base64 -b 0 -i "${value}" -o "${value}.base64"
            FILES="${FILES} -F files[][path]=${value} -F files[][contents]=@${value}.base64"

            ls -l ${value}.base64
            wc ${value}.base64
            tail -c 100 ${value}.base64
          done

          echo "::debug::CHANGED=${CHANGED[@]}"
          echo "::debug::FILES=${FILES}"

          if [ "${FILES}" != "" ]; then
            git switch -c update-macos
            git push --force -u origin update-macos
            gh api graphql \
              -F githubRepository=${GITHUB_REPOSITORY} \
              -F branchName=update-macos \
              -F expectedHeadOid=$(git rev-parse HEAD) \
              -F 'commitMessage=chore: update macos bindings' \
              -F query=@.github/api/createCommitOnBranch.graphql \
              ${FILES}

            echo "changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi

  update-windows:
    runs-on: windows-latest
    outputs:
      changed: ${{ steps.push-changes.outputs.changed }}

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d x86_64-pc-windows-msvc
          cargo run -p update-bindings -- -b -d aarch64-pc-windows-msvc
          cargo run -p update-bindings -- -b -d i686-pc-windows-msvc

      - name: Push Changes
        id: push-changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add .

          $changed = @(git diff --name-only --staged)
          $files = @()
          $changed | %{
            echo "::debug::files[][path]=$_"
            echo "::debug::files[][contents]=@$_.base64"

            $contents = [System.IO.File]::ReadAllBytes($_)
            $base64Contents = [System.Convert]::ToBase64String($contents)
            Set-Content -NoNewline -Path "$_.base64" -Value $base64Contents
            $files += "-F"
            $files += "files[][path]=$_"
            $files += "-F"
            $files += "files[][contents]=@$_.base64"
          }

          echo "::debug::changed=$changed"
          echo "::debug::files=$files"

          if ($files.Length -gt 0) {
            git switch -c update-windows
            git push --force -u origin update-windows

            gh api graphql `
              -F githubRepository=${env:GITHUB_REPOSITORY} `
              -F branchName=update-windows `
              -F expectedHeadOid=$(git rev-parse HEAD) `
              -F 'commitMessage=chore: update windows bindings' `
              -F query=@.github/api/createCommitOnBranch.graphql `
              $files

            echo "changed=true" >> "$env:GITHUB_OUTPUT"
          } else {
            echo "changed=false" >> "$env:GITHUB_OUTPUT"
          }

  merge-changes:
    runs-on: ubuntu-latest
    needs:
      - update-linux
      - update-macos
      - update-windows
    if: needs.update-linux.outputs.changed == 'true' || needs.update-macos.outputs.changed == 'true' || needs.update-windows.outputs.changed == 'true'

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Merge PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "tauri"
          git config user.email "tauri-bot@users.noreply.github.com"
          git switch -c update-bindings

          ${{ needs.update-linux.outputs.changed == 'true'
            && 'git pull origin update-linux
              git push origin --delete update-linux'
            || 'echo "No changes in Linux bindings"' }}
          ${{ needs.update-macos.outputs.changed == 'true'
            && 'git pull origin update-macos
              git push origin --delete update-macos'
            || 'echo "No changes in macOS bindings"' }}
          ${{ needs.update-windows.outputs.changed == 'true'
            && 'git pull origin update-windows
              git push origin --delete update-windows'
            || 'echo "No changes in Windows bindings"' }}

          gh pr create -f
