on:
  push:
    branches:
      - dev
    # paths:
    #   - Cargo.lock

jobs:
  update-bindings:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d x86_64-pc-windows-msvc
          cargo run -p update-bindings -- -b -d aarch64-pc-windows-msvc
          cargo run -p update-bindings -- -b -d i686-pc-windows-msvc

      - name: Push Changes
        run: |
          git config user.name "tauri"
          git config user.email "tauri-bot@users.noreply.github.com"
          git switch -c update-windows
          git commit -am 'chore: update windows bindings'
          git push --force -u origin update-windows
