name: Update bindings for Linux

on:
  push:
    branches:
      - dev
    paths:
      - Cargo.lock

jobs:
  update-bindings:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yq gcc-14-aarch64-linux-gnu gcc-14-arm-linux-gnueabi

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d x86_64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d aarch64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d arm-unknown-linux-gnueabi

      - name: Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "tauri"
          git config user.email "tauri-bot@users.noreply.github.com"
          git add .

          CHANGED=($(git diff --name-only --staged | xargs))
          FILES=""
          for value in ${CHANGED[@]}; do
            base64 -w0 "${value}" > "${value}.base64"
            FILES="${FILES} -F files[][path]=${value} -F files[][contents]=@${value}.base64"
          done

          if [ "${FILES}" != "" ]; then
            git switch -c update-linux
            git push --force -u origin update-linux
            gh api graphql \
              -F githubRepository=${GITHUB_REPOSITORY} \
              -F branchName=update-linux \
              -F expectedHeadOid=$(git rev-parse HEAD) \
              -F 'commitMessage=chore: update linux bindings' \
              -F query=@.github/api/createCommitOnBranch.graphql \
              ${FILES}

            git restore --staged .
            git restore .
            git clean -f
            git pull

            gh pr create -f
          fi
