on:
  push:
    branches:
      - dev

jobs:
  update-bindings:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - arm-unknown-linux-gnueabi
    steps:
      - run: cargo run -p update-bindings -b -d ${{ matrix.target }}
