on:
  push:
    branches:
      - dev
    paths:
      - Cargo.lock

jobs:
  update-bindings:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yq gcc-14-aarch64-linux-gnu gcc-14-arm-linux-gnueabi

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d x86_64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d aarch64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d arm-unknown-linux-gnueabi

      - name: Push Changes
        run: |
          git config user.name "tauri"
          git config user.email "tauri-bot@users.noreply.github.com"
          git switch -c update-linux
          git commit -am 'chore: update linux bindings'
          git push --force -u origin update-linux
