name: Update bindings for macOS

on:
  push:
    branches:
      - dev
    paths:
      - Cargo.lock

jobs:
  update-bindings:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d aarch64-apple-darwin
          cargo run -p update-bindings -- -b -d x86_64-apple-darwin

      - name: Push Changes
        run: |
          git config user.name "tauri"
          git config user.email "tauri-bot@users.noreply.github.com"
          git add .
          git commit -m 'chore: update macos bindings'
          if [ $? -eq 0 ]; then
            git switch -c update-macos
            git push --force -u origin update-macos
          fi
