on:
  push:
    branches:
      - dev

jobs:
  update-bindings:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yq gcc-14-aarch64-linux-gnu gcc-14-arm-linux-gnueabi

      - name: Update Bindings
        run: |
          cargo run -p update-bindings -- -b -d x86_64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d aarch64-unknown-linux-gnu
          cargo run -p update-bindings -- -b -d arm-unknown-linux-gnueabi

      - name: Push Changes
        run: |
          git switch -c update-linux
          git add sys/src/bindings/x86_64_unknown_linux_gnu.rs
          git add sys/src/bindings/aarch64_unknown_linux_gnu.rs
          git add sys/src/bindings/arm_unknown_linux_gnueabi.rs
          git add cef/src/bindings/x86_64_unknown_linux_gnu.rs
          git add cef/src/bindings/aarch64_unknown_linux_gnu.rs
          git add cef/src/bindings/arm_unknown_linux_gnueabi.rs
          git commit -m 'chore: update linux bindings'
          git push --force -u origin update-linux
